body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-image: url('../media/blogggg.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #dfd9d9be, #af8a4ee3);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

h2 {
    color: #ffffff;
}

.btn-logout {
    text-decoration: none;
    padding: 8px 15px;
    margin-right: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #d6bf99ad;
    color: #333;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #644f2ce3;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.title {
    font-size: 2.5em;
    margin-bottom: 25px;
    color: #ffffff;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.1em;
}

.btn {
    display: inline-block;
    padding: 6px 12.5px;
    text-decoration: none;
    color: #fff;
    background-color: #af8a4ee3;
    border: 2px solid #af8a4ee3;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}

.btn:hover {
    background-color: #af8a4ee3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.message-box {
    width: 100%;
    max-width: 1200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.message-content {
    margin-top: 10px;
}

.timestamp {
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 5px;
}

.message {
    background-color: #f3ebee1c;
    width: 100%;
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
