body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('../media/pinkindex.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    position: relative;
}

.title-container {
    display: inline-block;
    padding: 40px;
    /* border: 2px solid #ffccd51c; */
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #ffffff67, #ad874977);
    transition: background-position 0.5s ease-in-out;
    box-shadow: 2px black ;
}

.title {
    font-size: 5em;
    margin-bottom: 30px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title:hover {
    background-position: 100% 0;
}

.buttons {
    position: absolute;
    bottom: -140px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    background-color: #af8a4ee3;
    border: 1px solid #af8a4ee5;
    border-radius: 8px;
    transition: transform 0.3s ease;
    font-size: 1.4em;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #866838;
    transform: scale(1.1);
}
