body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #cfcece, #af8a4ee3);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

.btn-logout {
    text-decoration: none;
    padding: 8px 15px;
    margin-right: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #ecc2d1;
    color: #333;
    transition: background-color 0.3s ease;
}

.background {
    background-image: url('../media/newsignup.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 90px;
    border-radius: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #af8a4ee3;
    border: 1px solid #af8a4ee3;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #af8a4ee3;
}

.signup-form {
    max-width: 400px;
    margin: 0 auto;
}

input[type='tel'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
